<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h3>À propos</h3>
        </div>
    <div class="footer-section links">
        <h3>DMCA</h3>
    </div>
    {# <div class="footer-bottom">
        <p>&copy; {{ "now"|date("Y") }} InMyScan. Tous droits réservés.</p>
    </div> #}
</footer>
